section.screen-r#tour
    .screen-r-a
        .title
            p 沪上热门 TOP20 旅游景点 (本地游客)
        .title
            p 沪上热门 TOP20 旅游景点 (外地游客)
        .chart
            include ../../chart/chartTourism_A.jade
        .chart
            include ../../chart/chartTourism_B.jade

    .screen-r-b
        .title
            p 沪上热门 TOP10 商圈 (本地游客)
        .title
            p 沪上热门 TOP10 商圈 (外地游客)
        .title
            p 是否外出情况
        .chart
            include ../../chart/chartTourism_C.jade
        .chart
            include ../../chart/chartTourism_D.jade
        ul.chart
            li
                p 浦东
                h2 34534435
            li
                p 浦西
                h2 34534435
            li
                p 宅在家
                h2 34534435