script(type="text/javascript",src="../script/jquery-2.1.4.min.js")
script(type="text/javascript",src="../script/tabslet.min.js")
// script(type="text/javascript",src="../script/screenfull.min.js")
script(type="text/javascript",src="../script/echarts-all.js")
script(type="text/javascript",src="../script/main.js")