html
    include template/head
body
    .body-wrapper
        header
            img(src= '../img/ct-logo.svg' height= '24')
            h1=title

        include template/nav

        include template/screen/screen-l-a/screen-l-a

        include template/screen/screen-l-b/screen-l-b

        include template/screen/screen-r/screen-r

        include template/screen/screen-r-map/screen-map
        
    include footer