html
    include template/head
body(scroll="no")
    .body-wrapper
        header
            img(src= '../img/ct-logo.svg' height= '24')
            h1=title

        include template/nav

        include template/screen/screen-l-a/screen-l-a

        include template/screen/screen-l-b/screen-l-b

        include template/screen/popup/popup-car

        include template/screen/screen-r-map/screen-map

    include car_footer
    script
      |tabSwitch.car()
