html
  include template/head
body
  #main_tourism.body-wrapper.subpage
    header
      img(src= '../img/ct-logo.svg' height= '24')
      h1=title

    include template/nav_tourism
    .screen_toggle.b.all-active.fullscreen#full_travel_2
      .title
        p 热门 TOP10 APP
      .title
        p 热门交通出游方式
      .tourism-top.screenBchart
        .grid.grid-tourism
          table(width="100%" height="100%")#js-travel-hotapp-screen-b
            tr.row
              th(width="20%") 排名
              th(width="40%") APP
              th(width="40%") APP 使用次数
            tr
              th(width="20%") 1
              th(width="40%") APP
              th(width="40%") APP 使用次数
            tr
              th(width="20%") 1
              th(width="40%") APP
              th(width="40%") APP 使用次数
            tr
              th(width="20%") 1
              th(width="40%") APP
              th(width="40%") APP 使用次数
            tr
              th(width="20%") 1
              th(width="40%") APP
              th(width="40%") APP 使用次数
            tr
              th(width="20%") 1
              th(width="40%") APP
              th(width="40%") APP 使用次数
            tr
              th(width="20%") 1
              th(width="40%") APP
              th(width="40%") APP 使用次数
            tr
              th(width="20%") 1
              th(width="40%") APP
              th(width="40%") APP 使用次数
            tr
              th(width="20%") 1
              th(width="40%") APP
              th(width="40%") APP 使用次数
          table(width="100%" height="100%")#js-travel-hotapp-screen-b
            script#js-tpl-travel-hotapp-screen-b(type='text/html')
              tr.row
                th(width="20%") 排名
                th(width="40%") APP
                th(width="40%") APP 使用次数
              | {{each item.appname as value i}}
              |  <tr class="row">
              |    <td width="20%">{{i+1}}</td>
              |    <td width="40%">{{value}}</td>
              |    <td width="40%">{{item.numberofuses[i]}}</td>
              |  </tr>
              |      {{/each}}


      .tourism-chart.chart
        .e-chart#chartTourism_E

    script(type="text/javascript",src="../script/jquery-2.1.4.min.js")
    script(type="text/javascript",src="../components/artTemplate/dist/template.js")
    script(type="text/javascript",src="../script/echarts-all.js")
    script(type="text/javascript",src="../components/moment/min/moment-with-locales.min.js")
    script(type="text/javascript",src="../components/async/dist/async.js")
    script(type="text/javascript",src="../script/myTheme.js")
    script(type="text/javascript",src="../script/subpage/travel_2.js")
