html
    include template/head
body
    #main_tourism.body-wrapper
        header
            img(src= '../img/ct-logo.svg' height= '24')
            h1=title

        include template/nav_tourism
        .screen_toggle.a.all-active#full_travel_1
          .grid.grid-tourism
            p 线上热搜词排名 (TOP 10)
            table(width="100%")#js-travel-hotkey-screen-a
              tr.row
                th(width="12%") 排名
                th(width="43%") 热词名称
              tr
                th(width="12%") 1
                th(width="43%") 热词名称
              tr
                th(width="12%") 1
                th(width="43%") 热词名称
              tr
                th(width="12%") 1
                th(width="43%") 热词名称
              tr
                th(width="12%") 1
                th(width="43%") 热词名称
            table(width="100%")#js-travel-hotkey-screen-a
              script#js-tpl-travel-hotkey-screen-a(type='text/html')
                tr.row
                  th(width="12%") 排名
                  th(width="43%") 热词名称
                  | {{each item as value i}}
                  |  <tr class="row">
                  |    <td width="12%">{{i+1}}</td>
                  |    <td width="43%">{{value}}</td>
                  |  </tr>
                  |      {{/each}}

          .grid.grid-tourism
            p 出行热门旅游地 (TOP 10)
            table(width="100%")#js-travel-hotTravel-screen-a
              tr.row
                th(width="12%") 排名
                th(width="43%") 热词地点
              tr
                th(width="12%") 1
                th(width="43%") 热词地点
              tr
                th(width="12%") 1
                th(width="43%") 热词地点
              tr
                th(width="12%") 1
                th(width="43%") 热词地点
              tr
                th(width="12%") 1
                th(width="43%") 热词地点

            table(width="100%")#js-travel-hotTravel-screen-a
              script#js-tpl-travel-hotTravel-screen-a(type='text/html')
                tr.row
                  th(width="12%") 排名
                  th(width="43%") 热词地点
                | {{each item as value i}}
                |  <tr class="row">
                |    <td width="12%">{{i+1}}</td>
                |    <td width="43%">{{value}}</td>
                |  </tr>
                | {{/each}}


    script(type="text/javascript",src="../script/jquery-2.1.4.min.js")
    script(type="text/javascript",src="../components/artTemplate/dist/template.js")
    script(type="text/javascript",src="../components/moment/min/moment-with-locales.min.js")
    script(type="text/javascript",src="../components/async/dist/async.js")
    script(type="text/javascript",src="../script/myTheme.js")
    script(type="text/javascript",src="../script/subpage/travel_1.js")
