.screen_popup_car.active
  .data-car
    .popup_car_title
      p 长宁区-宣化小区
      p 小区内汽车搜索关键字
    .popup_ca_content
      | <script id="js-hotkeyword" type="text/html">
      | <ul>
      | {{each list as value i}}
      | <li>
      | <span> {{i+1}} </span>
      | <p> {{value}} </p>
      | </li>
      | {{/each}}
      | </ul>
      | </script>
      // ul
      //   li
      //     span 1
      //     p 油电混合
      //   li
      //     span 2
      //     p 保时捷
       
