.screen_popup_house.active
  .popup_background
  .data-house
    .popup_house_title 居委会名称&小区名称
    .popup_house_list
      ul
        li.active 新房指标
        li 二手房指标
        li 出租房指标
        li 写字楼指标
        li 商铺指标
    .popup_house_content
      ul
        mixin list(name,active)
          li(class= active)
            div
              span= name + "数量"
              h1 6272
                span 套
            div
              span= name + "总面积"
              h1 6272
                span 平方米
            div
              span= name + "平均价格"
              h1 6272
                span 元
            div
              span= name + "平均面积"
              h1 6272
                span 平方米
        +list('新房','active')
        +list('二手房')
        +list('出租房')
        +list('写字楼')
        +list('商铺')






