.screen_toggle.b.all-active
    .title.col
        p 热门 TOP10 APP
        p 热门交通出游方式
    .tourism-top.screenBchart
        .grid.grid-tourism
            table(width="100%" height="100%")#js-travel-hotapp-screen-b
              script#js-tpl-travel-hotapp-screen-b(type='text/html')
                tr.row
                    th(width="20%") 排名
                    th(width="40%") APP
                    th(width="40%") APP 使用次数
                | {{each item.appname as value i}}
                |  <tr class="row">
                |    <td width="20%">{{i+1}}</td>
                |    <td width="40%">{{value}}</td>
                |    <td width="40%">{{item.numberofuses[i]}}</td>
                |  </tr>
                |      {{/each}}


    .tourism-chart.chart
        include ../../chart/chartTourism_E.jade
