.screen_toggle.b.all-active
    .title.col
        p 热门 TOP10 APP
        p 热门交通出游方式
    .tourism-top.screenBchart
        .grid.grid-tourism
            table(width="100%" height="100%")
                tr.row
                    th(width="15%") 排名
                    th(width="35%") APP 标题大类
                    th(width="15%") APP
                    th(width="35%") APP 使用次数
                tr.row
                    td(width="15%") 1
                    td(width="35%") 即时通讯
                    td(width="15%") 微信
                    td(width="35%") 435436547
                tr.row
                    td(width="15%") 2
                    td(width="35%") 即时通讯
                    td(width="15%") 微信
                    td(width="35%") 435436547
                tr.row
                    td(width="15%") 3
                    td(width="35%") 即时通讯
                    td(width="15%") 微信
                    td(width="35%") 435436547
                tr.row
                    td(width="15%") 4
                    td(width="35%") 即时通讯
                    td(width="15%") 微信
                    td(width="35%") 435436547
                tr.row
                    td(width="15%") 5
                    td(width="35%") 即时通讯
                    td(width="15%") 微信
                    td(width="35%") 435436547
                tr.row
                    td(width="15%") 6
                    td(width="35%") 即时通讯
                    td(width="15%") 微信
                    td(width="35%") 435436547
                tr.row
                    td(width="15%") 7
                    td(width="35%") 即时通讯
                    td(width="15%") 微信
                    td(width="35%") 435436547
                tr.row
                    td(width="15%") 8
                    td(width="35%") 即时通讯
                    td(width="15%") 微信
                    td(width="35%") 435436547
                tr.row
                    td(width="15%") 9
                    td(width="35%") 即时通讯
                    td(width="15%") 微信
                    td(width="35%") 435436547
                tr.row
                    td(width="15%") 10
                    td(width="35%") 即时通讯
                    td(width="15%") 微信
                    td(width="35%") 435436547

    .tourism-chart.chart
        include ../../chart/chartTourism_E.jade