.screen_toggle.b.all.active
    div#screen_b_house_chart_all
      .title
          p 房价最近一年趋势（新房+二手房均价格）
      .chartHouse.screenBchart
          include ../../chart/chartHouse_A.jade
    .grid-screen-b-house
      |    <p>查询房产的小区</p>
      |    <ul>
      |    <li>某某小区1</li>
      |    </ul>
      |    <ul>
      |    <li>某某小区1</li>
      |   </ul>
      |   <ul>
      |   <li>某某小区1</li>
      |   </ul>
      |   <ul>
      |   <li>某某小区1</li>
      |   </ul>
      |   <ul>
      |   <li>某某小区1</li>
      |   </ul>
      |   <ul>
      |   <li>某某小区1</li>
      |   </ul>



.screen_toggle.b.dis
    .title
      p#districttext
    .chartHouse.screenBchart
        .chart
            p 小区户数
            h1 34534567
                span 户
        .chart
            p 年龄分布
            include ../../chart/chartHouse_B.jade

        .chart
            p 男女比例
            include ../../chart/chartHouse_C.jade

        .chart
            p 距离地铁站
            include ../../chart/chartHouse_D.jade
