.screen_toggle.a.data-house.active.all
    .title
        p 全市房产交易数据
        span 2014年10月 - 2015年10月
    .data-column-group
        .data-column
            .header
                span 新房
                span 全市新房交易量
            h1 3249345
                span 套
        .data-column
            .header
                span 新房
                span 全市新房交易量
            h1 3249345
                span 套
        .data-column
            .header
                span 新房
                span 全市新房交易量
            h1 3249345
                span 套
        .data-column
            .header
                span 新房
                span 全市新房交易量
            h1 3249345
                span 套
        .data-column
            .header
                span 新房
                span 全市新房交易量
            h1 3249345
                span 套
        .data-column
            .header
                span 新房
                span 全市新房交易量
            h1 3249345
                span 套
        .data-column
            .header
                span 新房
                span 全市新房交易量
            h1 3249345
                span 套