.screen_toggle.a.data-tourism.all-active
    .grid.grid-tourism
        p 线上热搜词排名 (TOP 10)
        table(width="100%")
            tr.row
                th(width="12%") 排名
                th(width="43%") 热词名称
            tr.row
                td(width="12%") 1
                td(width="43%") 居委名称
            tr.row
                td(width="12%") 2
                td(width="43%") 居委名称
            tr.row
                td(width="12%") 3
                td(width="43%") 居委名称
            tr.row
                td(width="12%") 4
                td(width="43%") 居委名称
            tr.row
                td(width="12%") 5
                td(width="43%") 居委名称
            tr.row
                td(width="12%") 6
                td(width="43%") 居委名称
            tr.row
                td(width="12%") 7
                td(width="43%") 居委名称
            tr.row
                td(width="12%") 8
                td(width="43%") 居委名称
            tr.row
                td(width="12%") 9
                td(width="43%") 居委名称
            tr.row
                td(width="12%") 10
                td(width="43%") 居委名称

    .grid.grid-tourism
        p 出行热门旅游地 (TOP 10)
        table(width="100%")
            tr.row
                th(width="12%") 排名
                th(width="43%") 热词地点
            tr.row
                td(width="12%") 1
                td(width="43%") 居委名称
            tr.row
                td(width="12%") 2
                td(width="43%") 居委名称
            tr.row
                td(width="12%") 3
                td(width="43%") 居委名称
            tr.row
                td(width="12%") 4
                td(width="43%") 居委名称
            tr.row
                td(width="12%") 5
                td(width="43%") 居委名称
            tr.row
                td(width="12%") 6
                td(width="43%") 居委名称
            tr.row
                td(width="12%") 7
                td(width="43%") 居委名称
            tr.row
                td(width="12%") 8
                td(width="43%") 居委名称
            tr.row
                td(width="12%") 9
                td(width="43%") 居委名称
            tr.row
                td(width="12%") 10
                td(width="43%") 居委名称