.screen_toggle.a.data-car.active.all
  #screen_a_data_car
    .title
        p 全市汽车用户数据
        span 2014年10月 - 2015年10月
    .data-column-group
        .data-column
            p 关心汽车的用户数
            h1#careOfCarNum 3249345
                span 万
        .data-column
            p 车牌拍卖人数 (上海发布获取)
            h1#careOfPaipaiNum 3249345
                span 人
        .data-column
            p 访问车牌网人数
            h1#visitNum 3249345
                span 万
  #js-car-careoftype
  | <script id="js-careoftype" type="text/html">
  |    <p>关心的汽车车型户数</p>
  |    <ul>
  |    <li>电动车</li>
  |    <li>{{eleccarnum}}</li>
  |    </ul>
  |    <ul>
  |    <li>高端车</li>
  |    <li>{{highgradecarnum}}</li>
  |   </ul>
  |   <ul>
  |   <li>SUV</li>
  |   <li>{{suvcarnum}}</li>
  |   </ul>
  |   <ul>
  |   <li>中小型车</li>
  |   <li>{{normalcarnum}}</li>
  |   </ul>
  |   <ul>
  |   <li>跑车</li>
  |   <li>{{supercarnum}}</li>
  |   </ul>
  |   <ul>
  |   <li>商务车</li>
  |   <li>{{businesscarunm}}</li>
  |   </ul>
  | </script>
