.screen_toggle.a.data-house.active.all
    .title
        p 全市房产交易数据
        span.time 2014年10月 - 2015年10月
    .data-column-group#js-realty-screen-a
      li
        .data-column
            .header
                span 新房
                span 全市交易量
            h1 3249345
                span 套
        .data-column
            .header
                span 平均价格
            h1 3249345
                span 元
      li
        .data-column
            .header
                span 二手房
                span 全市交易量
            h1 3249345
                span 套
        .data-column
            .header
                span 平均价格
            h1 3249345
                span 套
      li
        .data-column
            .header
                span 出租房
                span 全市交易量
            h1 3249345
                span 套
        .data-column
            .header
                span 平均价格
            h1 3249345
                span 套
      li
        .data-column
          .header
            span 商铺
            span 全市交易量
          h1 3249345
            span 套
        .data-column
          .header
            span 平均价格
          h1 3249345
            span 套
      li
        .data-column
          .header
            span 写字楼
            span 全市交易量
          h1 3249345
            span 套
        .data-column
          .header
            span 平均价格
          h1 3249345
            span 套
