.screen_toggle.a.grid.grid-car.dis
    table#js-car-village-rank(width="100%" height="100%")
        | <script id="js-village-rank" type="text/html">
        |    <tr class="row">
        |        <td width="20%">排名</td>
        |        <td width="45%">居委名称</td>
        |        <td width="35%">关心汽车的户数</td>
        |    </tr>
        | {{each list as value i}}
        |    <tr data-id="{{value.villagecode}}">
        |        <td width="20%">{{i+1}}</td>
        |        <td width="45%">{{value.villagename}}</td>
        |        <td width="35%">{{value.careofhousenum}}</td>
        |    </tr>
        | {{/each}}
        | </script>
       