.screen_toggle.a.grid.grid-car.dis
    table(width="100%" height="100%")
        tr.row
            th(width="12%") 排名
            th(width="43%") 居委名称
            th(width="20%") 人口数量
            th(width="25%") 关心汽车人数
        tr.row
            td(width="12%") 1
            td(width="43%") 居委名称
            td(width="20%") 3422365
            td(width="25%") 3422365
        tr.row
            td(width="12%") 2
            td(width="43%") 居委名称
            td(width="20%") 3422365
            td(width="25%") 3422365
        tr.row
            td(width="12%") 3
            td(width="43%") 居委名称
            td(width="20%") 3422365
            td(width="25%") 3422365
        tr.row
            td(width="12%") 4
            td(width="43%") 居委名称
            td(width="20%") 3422365
            td(width="25%") 3422365
        tr.row
            td(width="12%") 5
            td(width="43%") 居委名称
            td(width="20%") 3422365
            td(width="25%") 3422365
        tr.row
            td(width="12%") 6
            td(width="43%") 居委名称
            td(width="20%") 3422365
            td(width="25%") 3422365
        tr.row.active
            td(width="12%") 7
            td(width="43%") 居委名称
            td(width="20%") 3422365
            td(width="25%") 3422365
        tr.row
            td(width="12%") 8
            td(width="43%") 居委名称
            td(width="20%") 3422365
            td(width="25%") 3422365
        tr.row
            td(width="12%") 9
            td(width="43%") 居委名称
            td(width="20%") 3422365
            td(width="25%") 3422365
        tr.row
            td(width="12%") 10
            td(width="43%") 居委名称
            td(width="20%") 3422365
            td(width="25%") 3422365