.screen_toggle.a.grid.grid-house.dis
    table(width="100%" height="100%")#js-gridhouse-screen-a
      script#js-tpl-gridhouse-screen-a(type='text/html')
        tr.row
            th(width="15%") 排名
            th(width="50%") 居委名称
            th(width="35%") 关心房产户数
        | {{each item as value i}}
        |  <tr class="row" date-id="{{value.villagecode}}">
        |    <td width="15%">{{i+1}}</td>
        |    <td width="50%">{{value.villagename}}</td>
        |    <td width="35%">{{value.careofhousenum}}</td>
        |  </tr>
        |      {{/each}}
