section.screen-l.a
    .tabs
        ul.tab-item
            li
                a.tablist(href="/realty" name="#house" rel= '.area' rev= '#map')
                    i.icon-building
                span 房 产
            li
                a.tablist(href="/travel" name="#tourism" rel= '.date' rev= '#tour')
                    i.icon-takeoff
                span 旅 游
            li
                a.tablist(href="/car" name="#car" rel= '.area' rev= '#map')
                    i.icon-car
                span 汽 车

        #tab-1.panel(style='display: none')
            include data-house
            include grid-house
        #tab-2.panel(style='display: none')
            include data-tourism
        #tab-3.panel(style='display: none')
            include data-car
            include grid-car

