.body-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  margin: auto;
  overflow: hidden;
}

.ellipsis{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

header {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;

  padding: 12px 24px;

  color: @white;
  background-color: @blue1;
  > img {
    position: absolute;
    top: 10px;

    width: 100px;
  }
  > h1 {
    font-size: 1.8rem;
    font-weight: 500;

    margin-left: 110px;

    letter-spacing: 2px;
  }
}

.screenfull {
  position: absolute;
  top: 10px;
  right: 24px;

  width: 24px;
  height: 24px;

  cursor: pointer;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;

  opacity: .6;
  background-image: url('../img/maximize-2.svg');
  &:hover {
    opacity: 1;
  }
}

nav {
  position: absolute;
  z-index: 10;
  top: 44px;
  bottom: 0;
  left: 0;

  display: none;

  width: 70px;

  background-color: @blue3;
  > a {
    font-size: 1rem;

    display: block;

    padding: 8px 0;

    cursor: pointer;
    text-align: center;

    color: @white;
  }
  > a.active {
    color: @blue3;
    background-color: @green1;
  }

  &#js-travel-date{
    >p{
      width: 100%;
      padding: 8px 0;
      background-color:aquamarine;
      text-align: center;
    }
  }
}

nav.active {
  display: block;
}




#full_car_2{
  background-color: #39435e;
  position: absolute;
  right: 0;
  left: 70px;
  top: 44px;
  bottom: 0;
  padding: 12px;
  >.screen_toggle{
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    display: block !important;

    >.title{
      padding: 24px;
      margin-bottom: 12px;
    }
    >.chartCar{
      height:934px;
      >.chart{
        width: 50%;
        height: 100%;
        >.title{
          padding: 24px;
        }
        >.e-chart,{
          top: 70px;
          right: 24px;
          bottom: 0;
          left: 24px;
        }
        >.grid{
          top: 70px;
          right: 24px;
          bottom: 0;
          left: 24px;
          position: absolute;

        }
        &:nth-child(1){
          >.e-chart{
            background-color: yellow;
          }
        }

        &:nth-child(2){
          >.grid tr{
            &>td{
              border-bottom: 1px solid #52bbb9;
            }
            &>td:last-of-type{
              border-right:none;
            }
            &:last-of-type >td{
              border-bottom:none;
            }
          }
        }
      }
    }
  }
}


#full_car_1{
  background-color: #39435e;
  position: absolute;
  right: 0;
  left: 70px;
  top: 44px;
  bottom: 0;
  padding: 12px;

  >.screen_toggle{
    display: block;
    position: relative !important;
    left: 0 !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
  }
}

#full_travel_1{
  background-color: #39435e;
  >.grid-tourism{
    margin-top: 44px;
    padding: 12px;
    width: 50% !important;
    height: 924px !important;
    table{
      height: 100% !important;
    }
  }
}
#full_travel_2{
  background-color: #39435e;

  .grid-tourism{
    height: 924px !important;
    table{
     height: 100% !important;
    }
  }

  .tourism-chart{
    height: 924px !important;
    background-color: yellow;
  }
}

#full_travel_3{
  background-color: #39435e;
  position: absolute;
  right: 0;
  left: 0;
  top: 44px;
  bottom: 0;
  padding: 12px;

  .chart{
    width: 50%;
    &:nth-child(1){
      padding-right: 6px;
    }
    &:nth-child(2){
      padding-left: 6px;
    }
    >.title{
      padding: 24px;
    }
    >.e-chart{
      position: relative !important;
      height: 946px;
      background-color: yellow;
    }
    &:nth-child(1){
      float: left;
    }
    &:nth-child(2){
      float: right;
    }
  }
}

#full_travel_4{
  background-color: #39435e;
  position: absolute;
  right: 0;
  left: 0;
  top: 44px;
  bottom: 0;
  padding: 12px;

  .chart{

    &:nth-child(1){
      padding-right: 6px;
      width: 40%;
      float: left;
    }
    &:nth-child(2){
      padding-left: 6px;
      width: 40%;
      float: left;
    }
    &:nth-child(3){
      padding-left: 12px;
      width: 20%;
      float: right;
      >ul>li{
        height: 33.3%;
        color:#9dcc3b;
        padding:2.8rem 8px;
        &:nth-of-type(-n+2){
          border-bottom: 1px solid #52bbb9;
        }
        >p{
          font-size: 1.4rem;
          margin-bottom: 24px;
        }
        >h2{
          font-size: 2rem;
          line-height: 2.2rem;
        }
      }

    }

    >.title{
      padding: 24px;
    }
    >.e-chart{
      position: relative !important;
      height: 946px;
      background-color: yellow;
    }
  }
}
