nav.area.active
    a.district.active(name= '.all') 全市
    a.district(name= '.dis') 宝山
    a.district(name= '.dis') 长宁
    a.district(name= '.dis') 崇明
    a.district(name= '.dis') 奉贤
    a.district(name= '.dis') 虹口
    a.district(name= '.dis') 黄埔
    a.district(name= '.dis') 嘉定
    a.district(name= '.dis') 金山
    a.district(name= '.dis') 静安
    a.district(name= '.dis') 闵行
    a.district(name= '.dis') 南汇
    a.district(name= '.dis') 浦东
    a.district(name= '.dis') 普陀
    a.district(name= '.dis') 青浦
    a.district(name= '.dis') 松江
    a.district(name= '.dis') 徐汇
    a.district(name= '.dis') 杨浦
    a.district(name= '.dis') 闸北

nav.date
    a.time.active(name= '') 10月1日
    a.time(name= '') 10月1日
    a.time(name= '') 10月1日
    a.time(name= '') 10月1日
    a.time(name= '') 10月1日
    a.time(name= '') 10月1日
    a.time(name= '') 10月1日
    a.time(name= '') 10月1日
    a.time(name= '') 10月1日
    a.time(name= '') 10月1日
    a.time(name= '') 10月1日
    a.time(name= '') 10月1日
    a.time(name= '') 10月1日
    a.time(name= '') 10月1日
    a.time(name= '') 10月1日
    a.time(name= '') 10月1日
    a.time(name= '') 10月1日
    a.time(name= '') 10月1日
    a.time(name= '') 10月1日